<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<header>
    <h1>Anderlechtse ngo</h1>
    <nav class="navigatie">
        <ul>
            <li><a th:href="@{index}">Home</a></li>
            <li><a th:href="@{about}">About us</a></li>
            <li><a th:href="@{new}">Evenement registreren</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2 th:text="${event.titel}">Details Event</h2>
    <table>
        <thead>
        <tr>
            <th>Adres</th>
            <th>Tijdstip</th>
            <th>Omschrijving</th>
            <th>Capaciteit</th>
            <th>Email</th>
            <th>Naam</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${event.locatie.adres}"></td>
            <td th:text="${event.tijdstip}"></td>
            <td th:text="${event.omschrijving}"></td>
            <td th:text="${event.locatie.capaciteit}"></td>
            <td th:text="${event.email}"></td>
            <td th:text="${event.locatie.naam}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>&copy; 2025  Anderlechts ngo. Alle rechten voorbehouden.</p>
    <ul>
        <li><a th:href="@{index}">Home</a></li>
        <li><a th:href="@{about}">About us</a></li>
        <li><a th:href="@{new}">Evenement registreren</a></li>
    </ul>
</footer>
</body>
</html>