<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>Anderlechtse ngo</h1>
    <nav class="navigatie">
        <ul>
            <li><a th:href="@{index}">Home</a></li>
            <li><a th:href="@{about}">About us</a></li>
            <li><a th:href="@{new}">Evenement registreren</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Welkom bij Antwerpen NGO!</h1>
    <h3>10 Laatste evenementen deze week</h3>
    <table>
        <thead>
        <tr>
            <th>Titel</th>
            <th>Organisatie</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.titel}"></td>
            <td th:text="${event.organisatie}"></td>
            <td>
                <a th:href="@{'/detail'(id=${event.id})}">Meer info hier</a>
            </td>
        </tr>
        </tbody>
    </table>

</main>
<footer>

    <p>&copy; 2025  Anderlechts ngo. Alle rechten voorbehouden.</p>
    <ul>
        <li><a th:href="@{index}">Home</a></li>
        <li><a th:href="@{about}">About us</a></li>
        <li><a th:href="@{new}">Evenement registreren</a></li>
    </ul>

</footer>
</body>
</html>